.act-scene{
  font-size: 2em;
}
.act {
  border-top: 1px solid black
}
.author {}
.character-name {
  font-weight:bold;
  text-transform: uppercase;
}
.characters-list{
  list-style-type: none;
}
/* character names! */
/* .RichardIII_R3 {
  color: red;
} */
/* .cut{
  color: purple;
  display: none;
} */

.cut-hs {
  text-decoration: line-through red;
}

.cut-gen {
  text-decoration: line-through blue;
}

.line {
  /* color: purple; */
}
.scene {
  border-top: 1px dotted gray
}
.setting {
  font-size: 1.25em;
  font-style: italic;
}
.speech-start {
  padding-top: 10px;
}
.stage-direction {
  font-style: italic;
  color: orange;
}
.title {
}
